<!DOCTYPE html>


<% content_for :header do %>
<style type="text/css">
  p { 
    color: black; 
    position: absolute;
    text-align: center;
    left: 260px;
    top: 250px;
    width: 388px;
    margin: 0;
  
  }

  h2 { 
    position: absolute;
    color: white;
    font-weight: bold;
    text-align: center;
    left: 260px;
    top: 401px;
    width: 388px;
    margin: 0;
  }

  #intro {
    background-image: url(<%= asset_path 'title.png' %>);
    width: 900px;
    height: 500px;
  }

</style>


<script type="text/javascript">
  if ( $.cookie("CurrentLevel") && $.cookie("CurrentLevel") > 0) {
     window.location = "play";
  }
  var ENTER_KEY = 13;
  function onKeyDown($evt) {
    $evt.preventDefault();
    if ($evt.keyCode==ENTER_KEY) {
      window.location = "/play";
    }
  }

  function blinker() {
       $('#enterText').toggle(); 
       window.setTimeout(blinker, 50000/60);
  }

  $('document').ready( function() {
      window.onkeydown = onKeyDown;
      window.setTimeout(blinker, 50000 / 60);
  });

</script>

<% end %>

<audio id="theme" preload="auto" autoplay="true" loop="true">
    <source src="audio/theme.mp3" type="audio/mp3" />
    <source src="audio/theme.ogg" type="audio/ogg" />
    Welcome to PandaDragonMaze! The Pandas are being burgled! Twist through the burgler's mazes and save them before it&#145;s too late! 

    It looks like you need to switch to an HTML 5-enabled browser! We recommend Google Chrome because it's fast!
   
</audio>
<div id="intro">
  <!-- <p id="story" >The pandas are being burgled! Twist through the burgler&#146;s mazes and save them before it&#146;s too late!</p> -->
  <h2 id="enterText">Press Enter</h2>
</div>
