<!DOCTYPE html>


<% content_for :header do %>
<style type="text/css">
  p { 
    color: black; 
    position: absolute;
    text-align: center;
    left: 260px;
    top: 250px;
    width: 388px;
    margin: 0;
  
  }

  h2 { 
    position: absolute;
    color: white;
    font-weight: bold;
    text-align: center;
    left: 260px;
    top: 401px;
    width: 388px;
    margin: 0;
  }

  #intro {
    background-image: url(<%= asset_path 'title_clean.png' %>);
    width: 900px;
    height: 500px;
  }

	.menu-items {
		position:relative;
		top: 250px;
		width: 100%;
		padding: 0px;
		margin: auto;
		list-style: none;
		text-align: center;
		vertical-align: center;
	}

	#story {
		position: absolute;
		top: 250px;
		margin: auto;
		}

	.menu-items li {
		background-image: url(<%= asset_path('button_empty.png') %>);
		background-repeat: no-repeat;
		height: 78px;
		width: 288px;
		line-height: 70px;
		margin: auto;
		padding-bottom: 5px;
		padding-top: 5px;
		color: #961315;
	}

	.menu-items li:hover {
		background-image: url(<%= asset_path('button_empty_hover.png') %>);
		height: 78px;
		padding-bottom: 5px;
		padding-top: 5px;
		background-repeat: no-repeat;
	}

</style>


<script type="text/javascript">
  var ENTER_KEY = 13;
/*
  function onKeyDown($evt) {
    $evt.preventDefault();
    if ($evt.keyCode==ENTER_KEY) {
      window.location = "/play";
    }
  }

  function blinker() {
       $('#enterText').toggle(); 
       window.setTimeout(blinker, 50000/60);
  }
*/

  $('document').ready( function() {
      //window.onkeydown = onKeyDown;
      //window.setTimeout(blinker, 50000 / 60);
  	if ( pdm.hasSavedGame()){
		//We found a saved game
		$("#story").addClass("no-display");
		$("#continue").click(function () { window.location = "play";}).removeClass("hidden");
  	}

	$("#new").click(function() { 
		if (!pdm.canSave()) {
			alert("Whoops! Web storage not available. That means we can't save your game, so you'll have to beat it in one go like a boss. Go get 'em tiger.");
		} else if (pdm.hasSavedGame()) {
			deleteSavedGame();	
		}
		window.location="/play";
		});
	});

</script>

<% end %>

<!--
<audio id="theme" preload="auto" autoplay="true" loop="true">
    <source src="audio/theme.mp3" type="audio/mp3" />
    <source src="audio/theme.ogg" type="audio/ogg" />
    Welcome to PandaDragonMaze! The Pandas are being burgled! Twist through the burgler's mazes and save them before it&#145;s too late! 

    It looks like you need to switch to an HTML 5-enabled browser! We recommend Google Chrome because it's fast!
</audio>
-->
<div id="intro">
  <p id="story" >The pandas are being burgled! Twist through the burgler&#146;s mazes and save them before it&#146;s too late!</p>
	<ul class="menu-items">
		<li id="continue" class="hidden">Continue</li>
		<li id="new">New game</li>
	</ul>
  <!-- <h2 id="enterText">Press Enter</h2> -->
</div>
