<!DOCTYPE html>
<% content_for :header do %>
	 <title>Panda Dragon Maze - Level builder</title>
		<style type="text/css">
			.toolbar {
				width: 100%;
				float: left;
				}

		 	.toolbar ul {
				list-style: none; 
				display: inline;
				margin: 0px;
				padding: 0px;
			}

			.toolbar li {
				float: left;
				width: 108px;
				height: 108px;
				border: 1px solid #eee;
				text-align: center;
				line-height: 100px;
				vertical-align: middle;
			}

			.toolbar li:hover {
				border: solid 1px #888;
			}

			.selected {
				background-color: #99FFFF;
			}

			#game-content {
				position: relative;
				clear: both;
			}
			.canvas {
				position: absolute;
				top: auto;
				left: auto;
			}

		</style>

		<script>
			//var SPRITE_SCALE = 1;
			//var GRID_W = 32*SPRITE_SCALE;
			//var GRID_H = 16*SPRITE_SCALE;
      INIT_GAME = false; //var defined in maze.js which
			var selectedId;
			var selectedImg;
			var selectedObj;
			var startPos;
      var IMGS;
			var OBJS;
			var oldR =-1;
			var oldC = -1;
			var MOUSE_DOWN = false;
			//var canvasX = -1;
			//var canvasY = -1;

			//For rendering the delete image while hovering
			function DeletePoint(r,c) {
			  return new Point(DELETE_IMG, r, c, function () {});
			}
           
			function select() {
				$('li').each(function (i, el) { $(el).removeClass('selected');});
				selectedId = this.id;
				selectedImg = IMGS[this.id];
				selectedObj = OBJS[this.id];
				$(this).addClass('selected');
			}

			function findPos(obj) {
				    var curleft = 0, curtop = 0;
				    if (obj.offsetParent) {
				        do {
				            curleft += obj.offsetLeft;
				            curtop += obj.offsetTop;
				        } while (obj = obj.offsetParent);
				        return { x: curleft, y: curtop };
				    }
				    return undefined;
			}

      $(document).ready( function () {
					maze = new Maze("20f0e010101010101010101010101010101040000000000000000000000010100000000000000000000000001010000000000000000000000000101000000000000000000000000010100000000000000000000000001010000000000000000000000000101000000000000000000000000010100000000000000000000000001010000000000000000000000000101000000000000000000000000010100000000000000000000000001010000000000000000000000000101000000000000000000000000010101010101010101010101010101");

					OBJS = {
            "wall" : WallPoint,
            "panda" : PandaPoint,
            "goal" : GoalPoint,
            "start" : StartPoint,
            "delete" : DeletePoint
						}

        gameCanvas = document.getElementById('maze-canvas');
        bgCanvas = document.getElementById('maze-canvas-background');
				tileCanvas = document.getElementById('tile-canvas');
        gameStage = gameCanvas.getContext("2d");
        bgStage = bgCanvas.getContext("2d");
        tileStage = tileCanvas.getContext("2d");
				var hpx = MAX_ROWS*GRID_H+WALL_PAD;
				var wpx = MAX_COLS*GRID_W;
				
        $('#maze-canvas').attr("height", hpx);
        $('#maze-canvas').attr("width", wpx);
        $('#maze-canvas-background').attr("height", hpx);
        $('#maze-canvas-background').attr("width", wpx);
        $('#tile-canvas').attr("height", hpx);
        $('#tile-canvas').attr("width", wpx);

        $('#maze-canvas').height(hpx);
        $('#maze-canvas').width(wpx);
        $('#maze-canvas-background').height(hpx);
        $('#maze-canvas-background').width(wpx);
        $('#tile-canvas').height(hpx);
        $('#tile-canvas').width(wpx);
				
//				var mazeClick = function (e, d) {
//					if (!maze.hasPoint(curR,curC)) {
//						maze.addPoint(new selectedObj(curR, curC));
//						maze.fixWallImages();
//						bgStage.clearRect(0,0,bgCanvas.width,bgCanvas.height);
//          	maze.render(bgStage);
//					}
//				}
	
					
			  $('#maze-canvas').mousedown(function(e) {
						MOUSE_DOWN = true;
					  $('#maze-canvas').trigger('mazeClick');
				});
			  $('#maze-canvas').mouseup(function(e) {MOUSE_DOWN = false;});
				
			  $('#maze-canvas').bind('mazeClick', function(e) {
			  //$('#maze-canvas').click(function(e) {
					if (selectedId == "delete"){
						//Don't delete borders unless this is a goal
						//Borders are either goals or walls
						if (!(curR <= 1 || curR >= maze.rows || 
									curC <= 1 ||curC >= 	maze.cols)) {
								maze.removePoint(curR, curC);
								if (startPos && curR == startPos.r && curC == startPos.c) {
											startPos = undefined;
								}
						} else if (maze.isType(curR-1, curC-1, TYPES.GOAL)) {
								maze.removePoint(curR, curC);
								maze.addPoint(new OBJS["wall"](curR, curC));
						}
					} else if (!maze.hasPoint(curR,curC) || 
								(selectedId == "goal" && 
									(curR == 1 || curR == maze.rows || 
									 curC == 1 || curC == maze.cols))) {
						if (selectedId == "start") {
							if (startPos) {
									maze.removePoint(startPos.r, startPos.c);
									startPos.r = curR;
									startPos.c = curC;
							} else {
								startPos = {"r" : curR, "c" : curC};
							}
						}
						if (selectedId =="goal") {
							maze.removePoint(curR, curC);	
						}
						maze.addPoint(new selectedObj(curR, curC));
					}
					maze.fixWallImages();
					bgStage.clearRect(0,0,bgCanvas.width,bgCanvas.height);
         	maze.render(bgStage);
				});

			  $('#maze-canvas').mousemove(function(e) {
					    var pos = findPos(this);
					    var x = e.pageX - pos.x;
					    var y = e.pageY - pos.y;
							curC = Math.ceil(x/GRID_W);
							curR = Math.ceil(y/GRID_H);
							//$('#cx').text(x);
							//$('#cy').text(y);
							//$('#cr').text(curR);
							//$('#cc').text(curC);
							if (selectedId && !(curR == oldR && curC == oldC))	{
								//bgStage.clearRect(0,0,bgCanvas.width,bgCanvas.height);
                //maze.render();
								gameStage.clearRect(0,0,gameCanvas.width,gameCanvas.height);
								renderObject(new selectedObj(curR, curC), gameStage);
								oldR = curR;
								oldC = curC;
								if (MOUSE_DOWN) {$('#maze-canvas').trigger('mazeClick');}
							}
//					    var coordinateDisplay = "x=" + x + ", y=" + y;
//					    writeCoordinateDisplay(coordinateDisplay);
					});
			  
        init(function () {
          //wait until images are actually loaded
          IMGS = {
            "wall" : WALL_BLOCK_IMG,
            "panda" : PANDA_IMG,
            "goal" : PORTAL_IMG,
            "start" : HEAD_DOWN_IMG, 
            "delete" : DELETE_IMG
						}

					  maze.setSize(MAX_ROWS, MAX_COLS);
					  maze.initPoints();
					  maze.addBorders();
          	maze.render(bgStage);

				  	$('li').each( function (i, el) {
				      $(el).click(select);
              $(el).append("<img src='"+IMGS[el.id].src+"' />");
					  	//COUNTS[el.id] = 0;
				   	});
          })
				});
		</script>
	<!-- what matters:
				shared code
					tile size
					canvas size
					wall rendering
					game engine/play (for preview)
				
				elements;
					walls
					goals
					pandas
					start position
					delete

				P0 features:
					add element
					remove element
					render walls correctly
					export map creation code

				P1 features:
					preview/preplay
					export map

				n2h features:
					auto-add borders
					changing tile size
					adding multiple goals with multiple results
				
				-->
 <% end %>


		<div class="toolbar">
			<ul class="toolbar">
        <!-- Images added via js  -->
				<li id="wall"></li>
				<li id="panda"></li>
				<li id="goal"></li>
        <li id="start"></li>
				<li id="delete"></li>
			</ul>
		</div>
		<!--
		<span >X = <span id="cx">&nbsp;</span> </span>
		<span >Y = <span id="cy">&nbsp;</span> </span>
		<span >R = <span id="cr">&nbsp;</span> </span>
		<span >C = <span id="cc">&nbsp;</span> </span>
		-->
        <div class="canvas" id="game-content">
                <canvas class="canvas" id="tile-canvas" style="z-index: 1;"></canvas>
                <canvas class="canvas" id="maze-canvas-background" style="z-index: 2;"></canvas>
                <canvas class="canvas" id="maze-canvas" style="z-index: 3;"></canvas>
        </div>
